.header-box {
    width: 100%;

    .banner {
        background: #eef1fd;
        padding: 20px 0 95px;
        border-bottom: 1px solid #e0e0e0;
    }
    #bannerSliderLeft,
    .owl-stage-outer,
    .owl-stage,
    .owl-item.active,
    .owl-item,
    #bannerSliderLeft .item, 
    #bannerSliderLeft .item img {
        height: 100%;
    }
}